/* @import url("https://fonts.googleapis.com/css2?family=poppins:wight@300;400; 500&display=swap"); */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow: scroll;
}
body{
    font-family: sans-serif;
}
body h1{
    color: black;
}


.row {
    display: flex;
    align-items: center;
    padding-top: 10rem;
    background: rgba(239, 239, 244, 0.712);
}

/*navbar section*/

.navbar {
    overflow: hidden;
    background-color:whitesmoke;
    position: fixed;
    width: 100%;
  }
  
  .navbar a {
    float: right;
    display: block;
    color: #555;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active {
    background: linear-gradient(to bottom right, rgb(255,207,145), rgb(255,111,92));;
    color: white;
  }

  .active:hover{
    background: linear-gradient(to bottom right, rgb(255,225,92), rgb(255,207,145));
  }

  #active:hover{
    background: linear-gradient(to bottom right, rgb(255,229,92), rgb(255,207,145));
  }

  #active {
    background: linear-gradient(to bottom right, rgb(255,207,145), rgb(255,111,92));;
    color: white;
  }
  
  .navbar .icon {
    display: none;
  }
  
  .about {
    float: right;
    overflow: hidden;
  }
  
  .about .aboutbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: #444;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .about-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .about-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .navbar a:hover, .about:hover .aboutbtn {
    background-color: gray;
    color: white;
  }
  
  .about-content a:hover {
    background-color: #04AA6D;
    color: black;
  }
  
  .about:hover .about-content {
    display: block;
  }
  
  .logo{
    width: 10%;
    height: 20%;
    border-radius: 20%;
    float: left;
  }

  /*end here*/
  

.include{
    display: none;
}
.header-content{
    width: 50%;
    margin-left: 1%;
    
}

.hero-imgs{
    width: 5%;
    margin-right: 1%;
    padding-left: 0%;
    margin-left: 1%;


}

.hero-imgs, img{
    width: 100%;
    ;
    
}
.header-content h1{
    font-size: 7vmin;
    margin-bottom: 30px;
    margin-top: 2rem;
    color: black;
    flex-basis: 50%;
}
.header-content p{
    margin-bottom: 30px;
    color: black;

}
.learnmore{
    
    padding: 10px 20px;
    border: 1px solid tomato;
    border-radius: 50px;
    color: tomato;
    margin-right: 30px;
}
.learnmore:hover{
    background: linear-gradient(to bottom right, rgb(255,207,145),rgb(255,111,92));
    border: none;
    color: whitesmoke;
}
.hero-img img{
    margin-left: 100px;
}
/* Services */

.services{
    margin-bottom: 0px;
}

.services-content{
   flex-basis: 50%;
   display: flex;
}
.services-img img{
    width: 400px;
    margin-left: 30px;
}
.services h1{
    text-align: center;
    margin-top: 30px;
}
.services-content{
    flex-basis: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 2em;
    padding: 4rem;
    width: 700px;
    margin-left: 30px;
    float: left;
    margin-bottom: 50px;
}

.services-img{
    float: right;
    grid-template-columns: repeat(auto-fit, minmax(50%, auto));
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.container1{
    display: block;
}

/* Technologies*/
.technologies{
    margin-top: 0px;
    background:  rgba(239, 239, 244, 0.712);
    padding-top: 30px;
}
.tech-top{
    /* margin-left: 15rem; */
    font-size: 6vmin;
    text-align: center;
    color: black;
}
.tech-pragh{
    /* max-width: 40rem; */
    margin: 40px 20px;
    /* font-size: 3; */
    text-align: center;
    color: black;
}
.container{
    padding: 3rem;
    display: flex;

}

.grid-box{
    background: darkslategray;
    height: 200px;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;   
}

.grid-box img{
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    /* animation: scaleup 2s ease-in-out infinite; */
    
}
.grid-box h1{
    color: whitesmoke;
    font-weight: 400;
}

.mobileapp{
    background: linear-gradient(to bottom right, rgb(107,107,255),blue);
}
.webdesign{
    background: linear-gradient(to bottom right, rgb(80,80,255),rgb(253,119,119));
    /* margin-top: 30px; */
}
.marketing{
    background: linear-gradient(to bottom right,rgb(255,207,145), rgb(255,111,92));
}
.branding{
    background: linear-gradient(to bottom right, #2af598, #009efd);
    /* margin-top: 30px; */
}
.hpyclients{
    background: linear-gradient(to bottom right,rgb(107,107,255), blue);
}
.prjcompleted{
    background: linear-gradient(to bottom right, rgb(80,80,255),rgb(255,111,92));
}
.runingprj{
    background: linear-gradient(to bottom right,rgb(255,207,145),rgb(255,111,92));
}
.designs{
    background: linear-gradient(to bottom right,#2af598,#009efd);
}
.numbers .grid-box h2{
    color: whitesmoke;
    font-weight: 400;
    margin-top: 30px;
    font-size: 20px;
}
/* Numbers */

.container2{
    padding: 2rem;
    display: flex;
}
.num-wrapper{
    flex-basis: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 2em;
    padding: 2rem;
}
.numbers .grid-box h1{
    font-size: 40px;
}
.numbers .grid-box:hover{
    transform: translateY(-20px);
}
.numbers .grid-box{
    transition: transform 1s ease-in-out;
}
.numbers{
    margin-top: 100px;
}
.numbers .num-text{
    font-size: 40px;
    padding-left: 5rem;
    padding-right: 50%;
}
.numbers p{
    padding-left: 5rem;
    padding-right: 50%;
}
/* projects */
.projects{
    margin: 80px;
    text-align: center;
}
.projects-images{
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}
.prj-img{
    height: 150px;
    overflow: hidden;
    /* position: relative; */
}
.prj-img img{
    max-height: 100%;
    min-width: 100%;
}
.projects h1{
    font-size: 35px;
}
.details{
    /* position: absolute; */
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 100%;
    max-height: 150%;
    background: rgb(0, 0, 250, 0.534);
    transform: scaleX(0);
    transition: transform 1s ease-in-out;

}
.details h1, h2, i{
    color: whitesmoke;
}
.details i{
    font-size: 30px;
}
.prj-img:hover .details{
    transform: scaleX(1);
}
.prj-img img:hover .details{
    transform: scaleX(1);
}

/*Team*/ 
.team{
    margin-top:10%
}

.team-top{
    font-size: 40px;
    text-align: center;
    margin-bottom: 0%;
}

.team-to{
    text-align: center;
    font-size: 20px;
}

.team-mem h1{
    font-size: 30px;
}
.team-mem h2{
    color: darkblue;
    margin-bottom: 2%;
    font-size: 20px;

}
.team-mem p{
    text-align: left;
}

.team-mem img{
    height: 35%;
    margin-bottom: 0%;
    border-radius: 50px;
}

.grid-wrapper{
    flex-basis: 100%;
}
.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 2em;
    padding: 2rem;
}

.grid-wrapper{
    width: 80%;
    margin-left: 10%;
} 

/*ourvalue*/

.coop-foss{
    width: 50;
}

.containers{
    padding: 1rem;
    display: flex;
    margin-top: 15%;
    
    

}

.containers2{
    padding: 1rem;
    display: flex;
    margin-top: 0%;
}

.containers h2{
    color: black;
}

.margin-top-header{
    width: 100%;
    height: 50%;
    margin-top: 100px;
}

.pen{
    width: 50%;
    height: 100%;
    float: left;
    margin-left: 30px;
}

.header-title{
    float: right;
    background-color:whitesmoke;
    width: 48%;
    height: 49%;
    text-align: center;
    font-size: x-large;
    margin-left: 50px;

    
}

.mainheader-title{
    margin-top: 1px;
}

.header-title h3{
    margin-top: 20px;
}

.header-title h1{
    color: cadetblue;
}

.Principles-content{
    width: 47%;
    float: right;
    margin-bottom: 0%;
    height: 100%;
    margin-right: 2%;
    margin-top: 0%;
}

.Principles-content h2{
    float: none;
    margin-bottom: 10%;
    font-size: xx-large;
    margin-left: 8%;
    color: cadetblue;
}

.justice{
    width: 51%;
    margin-top: 0%;
    height: 100%;
}

.justice #justice-img{
    width: 90%;
    margin-top: 0%;
    height: 99%;
}

.Principles-content ol li p{
    margin-bottom: 17%;
    font-size: x-large;
    margin-left: 0%;
    width: 90%;


}

.Principles-content ol li{
    margin-bottom: 0%;
    font-size: x-large;
    margin-left: 10%;
    width: 90%;
}

.rows{
    padding: 1rem;
    display: block;
    margin-top: 0%;
}

.col-left{
    width: 50%;
    height: 40%;
    float: left;
    padding-left: 2.5%;
}

.old-programmer{
    width: 100%;
    height: 20%;
}

.coop-foss-container{
    background-color:cornflowerblue;
}

.coop-foss{
    width: 47%;
    background-color: aqua;
    float:right;
    margin-right: 3%;
}

.text-white{
    margin-left: 5%;
    margin-bottom: 2%;
}

.text-header{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 3.3%;
    font-size: 250%;
}

.ripped-paper{
    margin-top: 5%;
}


/* Animations */
@keyframes scaleup{
    0%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
/*Note below here is for mobile devies view only*/
  
@media screen and (max-width: 600px) {
.navbar a:not(:first-child), .about .aboutbtn {
      display: none;
    }
    .navbar a.icon {
      float: right;
      display: inline-flex;
    }
  }
  
@media screen and (max-width: 600px) {
    .navbar.responsive {position: fixed;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
      position: relative;
    }
    .navbar.responsive .about {float: none;}
    .navbar.responsive .about-content {position: relative;}
    .navbar.responsive .about .aboutbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  

    body{
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        background-color: white;
        overflow: hidden;
    }

    /*header content*/ 
    .header-content{
        text-align: center;
        color: black;
        background-color: #009efd;
        width: 100%;
        margin-top: 2%;
    }

    .row {
        display: inline;
        align-items: center;
        padding-top: 1rem;
    }

    /* Services */
    .services-content{
        width: 90%;
        text-align: left;
        margin-top: 0px;
    }

    .services{
        text-align: left;
        width: 100%;
        margin-top: 0px;
    }

    .services h1{
        margin-top: 0%;
    }

    .services-img{
        width: 90%;
        float: none;
        margin-top: 2%;
    }

    .services-img img{
        width: 90%;
    }
    /*number*/
    .num-wrapper{
        text-align: center;
        overflow:hidden ;
        align-items: center;
        width: 100%;
    }

    .container2{
        padding: 0rem;
        width: 100%;
        margin-left: 50px;
    }

    .hpyclients{
        padding-left: 15%;
        background-color: wheat;
    }


    .grid-box{
        width: 80%;
        margin-left: 0px;
        margin-right: 50px;
        overflow: hidden;
        padding-right: 15%;
    }
    .numbers {
        display:inline;
        align-items: center;
        padding-top: 1rem;
    }

    /*technologies*/
    .technologies, .team, .services, .numbers, .projects{
        width: 100%;
        overflow:hidden;
    }
    /*team*/

    .team-mem img{
    width: 150px;
    height: 100px;
    margin-left: 0px;
    margin-bottom: 10px;
    border-radius: 20px;
    }

    .grid-wrapper{
        width: 100%;
    }

    .team-mem{
        width: 70%;
        margin-left: 0px;
    }

    .team-mem{
        padding: 2rem;
        text-align: center;
        border-radius: 5px;
        display: block;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: transform 1s ease-in-out;
        overflow: scroll;
    }

    .circle img{
        position: absolute;
        top: 10%;
        left: -20%;
        width: 10px;
        animation: scaleup 2s ease-in-out infinite;
    }

    /*projects*/

    .projects-images{
        padding: 5rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    }

    .projects{
        background-color: aqua;
        width: 100%;
        margin: 0px;
    }

    .prj-img{
        margin-bottom: 30px;
        width: 80%;
        margin-left: 20px;
    }

    .details{
        font-size: medium;
    }

    /*ourvalue*/
    .header-title{
        float: none;
        background-color:whitesmoke;
        width: 100%;
        height: 45%;
        text-align: center;
        font-size: x-large;
        margin-left: 0px;
    }

    .margin-top-header{
        width: 100%;
        height:30%;
        margin-top: 50px;
    }

    .pen{
        width: 100%;
        height: 90%;
        float: none;
        margin-left: 0px
    }
    
    .containers{
        width: 100%;
        height: 90%;
        background-color: #2af598;
    }

    .Principles-content{
        width: 100%;
        float: none;
        margin-bottom: 0%;
        height: 50%;
        margin-right: 2%;
        margin-top: 0%;
        display: contents;
    }
    
    .Principles-content h2{
        float: none;
        margin-bottom: 10%;
        font-size: xx-large;
        margin-left: 8%;
        color: cadetblue;
    }
    
    .justice{
        width: 100%;
        margin-top: 0%;
        height: 100%;
        display: contents;
    }
    
    .justice #justice-img{
        width: 90%;
        margin-top: 0%;
        height: 35%;
    }
    
    .Principles-content ol li p{
        margin-bottom: 7%;
        font-size: x-large;
        margin-left: 0%;
        width: 90%;
        overflow: hidden;
        
    
    }
    
    .Principles-content ol li{
        margin-bottom: 0%;
        font-size: x-large;
        margin-left: 10%;
        width: 90%;
    }

    .rows{
        padding: 1rem;
        display: block;
        margin-top: 0%;
    }
    
    .col-left{
        width: 100%;
        height: 40%;
        float: none;
        padding-left: 0%;
    }
    
    .old-programmer{
        width: 100%;
        height: 20%;
    }
    
    .coop-foss{
        width: 100%;
        background-color: aqua;
        float:none;
        margin-right: 3%;
        overflow: none;
        text-align: left;
    }
    
    .text-white{
        margin-left: 5%;
        margin-bottom: 2%;
        margin-right: 5%;
    }
    
    .text-header{
        margin-left: 5%;
        margin-top: 5%;
        margin-bottom: 3.3%;
        font-size: 200%;
    }
    
    .ripped-paper{
        margin-top: 5%;
        width: 80%;
        text-align: left;
        margin-left: 10%;
    }


}